<form action="join-club" method="POST">
    <%- include('errors.ejs') %>
    <div>
        <div>
            join the club by entering the secret password!
        </div>
        <label for="password">Secret password: </label>
        <input type="password" name="password" id="password">
    </div>
    <button type="submit">Join the Club!</button>
</form>