<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elite Member Page</title>
</head>
<body>
    <% if (locals.user && locals.user.membership_status) { %>
        <div>Welcome to the elite club view!</div>
    <% } else { %>
        <%- include('partials/restricted') %>
    <% } %>
</body>
</html>