<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Post</title>
</head>
<body>
    <% if(!locals.user) { %>
        <%- include('partials/restricted') %>
    <% } else { %>
        <%- include('partials/errors.ejs') %>
        <form action="new-post" method="POST">
            <div>
                <label for="title">Title: </label>
                <input type="text" name="title" id="title">
            </div>
            <div>
                <label for="message">Message: </label>
                <textarea name="message" id="message"></textarea>
            </div>
            <div>
                <button type="submit">Submit</button>
            </div>
        </form>
    <% } %>
</body>
</html>