<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>
<body>
    <div>
        <div>
            <% if(locals.user) { %>
                <div>
                    You are already logged in
                </div>
                <div>
                    return <a href="/">Home</a>
                </div>
            <% } else { %>
                <%- include('partials/sign-up-form.ejs') %>
            <% } %> 
        </div>
    </div>
</body>
</html>